---
import NewsArticleCard from "../components/NewsArticleCard";
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar";
---

<MainLayout>
  <header>
    {/* SECTION: Hero */}
    <div class="h-full w-screen">
      <div class="relative w-full bg-lpsci-green">
        <img
          src="https://ucarecdn.com/e59eda1f-23b8-47e2-bddb-2322f04c38d1/-/preview/-/scale_crop/1280x720/smart/-/quality/smart/-/format/auto/"
          alt=""
          class="w-full h-full rounded-md opacity-50 brightness-[.69]"
        />
        <div
          class="absolute w-full h-full top-[50%] left-[50%] text-center flex justify-center items-center"
          style={{ transform: "translate(-50%, -50%)" }}
        >
          <div>
            <h1 class="text-6xl font-bold text-white mb-3 tracking-wide">
              IN LPSCI,
            </h1>
            <h1
              class="text-8xl text-center bg-white p-3 rounded-md shadow-md tracking-wide"
            >
              <span class="text-lpsci-green">WE</span>
              <span class="text-lpsci-red">SOAR</span>
              <span class="text-lpsci-yellow">HIGH</span>
            </h1>
            <!-- <div class="flex items-center justify-center space-x-3 py-7">
              <button
                type="button"
                class="inline-flex items-center rounded-full border border-transparent bg-green-900 px-6 py-2 text-2xl font-medium text-white shadow-sm hover:bg-lpsci-green focus:outline-none focus:ring-2 focus:ring-lpsci-green focus:ring-offset-2"
              >
                Apply now
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <Navbar />
  </header>
  <main class="max-w-7xl w-full flex flex-col justify-center mx-auto">
    {/* SECTION: About */}
    <div class="h-full w-full mt-12">
      <div class="flex items-center justify-center px-14 space-x-16">
        <div class="h-96 w-1/4 rounded-[33px] relative group bg-red-800">
          <img
            src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80"
            class="w-full h-full object-center object-cover rounded-[33px] opacity-[0.4]"
            alt=""
          />
          <div class="absolute inset-0 h-full">
            <div
              class="w-full flex flex-col mx-auto items-center h-full justify-center text-white"
            >
              <h3 class="text-7xl">About</h3>
              <div class="hidden group-hover:flex flex-col items-center w-full">
                <div class="border-2 border-white w-1/2 my-3"></div>
                <p>Background</p>
                <p>Contacts</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="h-96 w-1/4 rounded-[33px] relative group bg-yellow-800">
          <img
            src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80"
            class="w-full h-full object-center object-cover rounded-[33px] opacity-[0.4]"
            alt=""
          />
          <div class="absolute inset-0 h-full">
            <div
              class="w-full flex flex-col mx-auto items-center h-full justify-center text-white"
            >
              <h3 class="text-6xl">Application</h3>
              <div class="hidden group-hover:flex flex-col items-center w-full">
                <div class="border-2 border-white w-1/2 my-3"></div>
                <p>Junior High School</p>
                <p>Senior High School</p>
              </div>
            </div>
          </div>
        </div> -->

        <div class="h-96 w-1/4 rounded-[33px] relative group bg-green-800">
          <img
            src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80"
            class="w-full h-full object-center object-cover rounded-[33px] opacity-[0.4]"
            alt=""
          />
          <div class="absolute inset-0 h-full">
            <div
              class="w-full flex flex-col mx-auto items-center h-full justify-center text-white"
            >
              <h3 class="text-7xl">Events</h3>
              <div class="hidden group-hover:flex flex-col items-center w-full">
                <div class="border-2 border-white w-1/2 my-3"></div>
                <p>School Program</p>
                <p>Activities</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/* SECTION: News Articles */}
    <div class="h-full w-full py-20 px-5">
      <h1 class="text-7xl font-bold text-lpsci-green">News & Articles</h1>
      <div class="grid grid-cols-3 justify-between pt-16 px-6 w-full space-x-3">
        <NewsArticleCard />
        <NewsArticleCard />
        <NewsArticleCard />
      </div>
    </div>
    {/* SECTION: Footer */}
    <div class="bg-white h-[50vh] w-screen flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-6xl text-white mb-6 tracking-wide">
          <span class="text-lpsci-red">
            A bright mind
            {" "}
          </span>
          <span class="text-lpsci-yellow">
            is nothing without
            {" "}
          </span>
          <span class="text-lpsci-green"> a humble heart</span>
        </h1>
      </div>
    </div>
  </main>
</MainLayout>
