---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LPSCI - We Soar High</title>
  </head>
  <body>
    <slot />
  </body>
</html>
